
.cajas-body {
    background-color: black;
    color: blanchedalmond;
    font-family: 'Inconsolata', monospace;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    
    /*
    display: flex;
    justify-content: space-between;
    */
}


.one {
    grid-column: 1;
    border: solid 1px #ccff00;/*#ffad00;/* #C724B1; /*#ccff00;*/
    padding: 10px;
    margin: 10px;
    
    
    
}
.two {
    grid-column: 2;
    border: solid 1px #04fff7;
    padding: 10px;
    margin: 10px;
    
    
    
}
.three {
    grid-column: 3;
    border: solid 1px #ffad00;/*#C724B1;/*#ffad00;*/
    padding: 10px;
    margin: 10px;
       
}

.neon-green {
    color: #ccff00;
}

.neon-blue {
    color: #04fff7
}

.neon-orange {
    color: #ffad00;
}

.neon-purple {
    color: #C724B1;
}

.clare {
    color:antiquewhite;
}

.title {
    text-align: center;
    text-transform: uppercase;
    
}

.padding {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.underline-orange {
    text-decoration: underline #ffad00;
}

.underline-purple {
    text-decoration: underline #c724b1;
}
/*
@media screen and (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1vh;
      grid-gap: 2px;
    }
  }
*/