/* App.js */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Products.js */

/* product container */
.product-item-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  height: auto;
}

.card-container {
  width: 90%;
  margin: 10px;
  box-shadow: 0 1px 1px 1px #efb810;
  text-decoration: none;
  color: black;
}

.card-container:hover {
  box-shadow: 0 0.5px 0.5px 0.5px rgba(9, 9, 9, 0.23);
  color: black;
}

.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.img-field {
  width: 10%;
  height: 10%;
}

.title-field {
  width: auto;
  height: 100%;
}

.price-field {
  font-size: 1.5rem;
  font-weight: bold;
  color: #efb810;
}

.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  background-color: #efb810;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.rev-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #efb810;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

/* not in use */

.desc-field {
  width: auto;
  height: 25%;
  overflow-y: scroll;
}
/* old 
.product-item-container {
width: 250px;
  height: 400px;
  margin: 1rem;
  border: 1px solid blueviolet;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  padding: auto;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
}
*/
/* ProductsItem.js */

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: auto;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.neon-green {
  color: #ccff00;
}

.neon-blue {
  color: #04fff7;
}

.neon-orange {
  color: #ffad00;
}

.neon-purple {
  color: #c724b1;
}

.clare {
  color: antiquewhite;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.underline-orange {
  text-decoration: underline #ffad00;
}

.underline-purple {
  text-decoration: underline #c724b1;
}
/*
@media screen and (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1vh;
      grid-gap: 2px;
    }
  }
*/

/* OptionsMenu.js */

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  background-color: #efb810;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.nav-wrapper li {
  display: block;
  list-style: none;
  color: black;
  background-color: #d6a40f;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-wrapper li:hover {
  background-color: #bd8f08;
}
nav ul li a {
  text-decoration: none;
}

/* context dark */

/* 

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212933;
  color: snow;
}

#body2 {
  background: rgb(129, 13, 151);
  background: linear-gradient(
    90deg,
    rgba(129, 13, 151, 0.7011846975118172) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

.name {
  color: #e3ff00;
}

.lime {
  color: #e3ff00;
}

.buttom-lime {
  background-color: #e3ff00;
  color: green;
  font-weight: 500;
  text-transform: uppercase;
}

.bg-violet {
    background-color: #9F00FF;
  }

.violet {
  color: #9F00FF;
}

 .orange {
    color: #ff2301;
 }

 .buttom-orange {
    background-color: #ff2301;
    color: green;
    font-weight: 500;
    text-transform: uppercase;
  }

  .turquoise {
    color: #5dc1b9;
  }

  .buttom-turquoise {
    background-color: #5dc1b9;
    color: snow;
    font-weight: 500;
    text-transform: uppercase;
  }

  */
