@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efb810;
}
